<p style="color: green"><%= notice %></p>
<h1>Submit URL</h1>
<form action="/convert">
  <label for="url">URL:</label><br>
  <input type="text" id="url" name="url" value=""><br>
  <input type="submit" value="Submit">
</form> 